---
import PromoItem from "../components/PromoItem.astro";
import Main from "../layouts/main.astro";
import { getNotionItems } from "../utils";

const promoItems = await getNotionItems({
  auth: import.meta.env.NOTION_API_KEY,
});

const rawData = JSON.stringify(promoItems, null, 2);
---

<Main>
  <details class='my-4 cursor-pointer inline-block'>
    <summary>Raw data</summary>
    <code>
      <pre class='text-sm my-4'>
        {rawData}
      </pre>
    </code>
  </details>

  <div class='columns-xs gap-10'>
    {promoItems.map((promo) => <PromoItem promo={promo} />)}
  </div>
</Main>
