---
interface Props {
  indexPage?: boolean;
}

const {indexPage = true} = Astro.props;

import { ViewTransitions } from "astro:transitions";
const year = new Date().getFullYear();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro | Notion API integration</title>
    <ViewTransitions />
  </head>
  <body>
    <main class='full'>
      {indexPage && (
        <h1 class='text-3xl'><mark>untitled</mark> integration.</h1>
        <h2 class='text-xl mt-2'>
          Next <a href='https://astro.build/'>Astro</a> template and easy
        integration with <a href='https://developers.notion.com/'>Notion API</a>
      </h2>
      <hr />
      )}
      <slot />
    </main>
    <footer class='full mt-10'>
      &copy; {year} VA.
    </footer>

    <style is:global>
      html {
        scroll-behavior: smooth;
        background-color: #212121;
      }
      body {
        margin: 0;
        font-family: "Lucida console", Courier, monospace;
        line-height: 1.25;
        background-color: #fafafa;
        padding: 1em;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;
      }
      footer {
        font-size: 0.8em;
      }
      a {
        color: inherit;
      }
      hr {
        border: none;
        border-top: 1px solid #d3d3d3;
        margin: 2em 0;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      pre {
        padding: 1em;
        white-space: pre-wrap;
        background-color: #212121;
        color: #169a9a;
      }
      ::selection {
        background-color: #212121;
        color: #169a9a;
      }

      pre::selection {
        background-color: #504f4f;
        color: #a09e9e;
      }

      mark {
        display: inline-block;
        background-color: #212121;
        color: #169a9a;
      }

      .full {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
      }
    </style>
  </body>
</html>
